:root { 
    --background-color: rgb(41, 40, 40);
    --primary-text-color: #fff;
    --secondary-text-color: rgb(160, 159, 159);
    --tertiary-text-color: #E9AA89;

}
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
    background-color: var(--background-color);
    font-size: 16px;
    margin: 0;
}


h1, p {
    color: var(--primary-text-color);
}

h1 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin: 0;
}

h2 {
    color: var(--tertiary-text-color);
    font-size: 1.125rem;
    font-weight: lighter;
    margin-bottom: 0;
}

h3 {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: .75rem;
}

p {
    line-height: 1.8125rem;
    margin-top: 2rem;
}

article {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;

}

.header-menu {
    position: absolute;
    width: 40px;
    height: 40px;
    right: .5rem;
    top: .5rem;
    z-index: 2;
}   

nav {
    display: none;
}
.image-display {
    position: relative;
    display:flex;
    height: 45vh;
    width: 100%;
    justify-content: center;
    top: 0;
    left: 0;
}

img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
