:root { 
    --background-color: rgb(41, 40, 40);
    --primary-text-color: #fff;
    --secondary-text-color: rgb(160, 159, 159);
}

body {
    font-family: "Helvetica";
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

h2 {
    color: var(--secondary-text-color);
    font-size: 1rem;
}
